.app {
  overflow: hidden;
  height: 100vh;

  background-color: #ebebeb;
}

.main-content {
  display: flex;
  height: calc(100% - 114px);

  margin-top: 114px;

  > div {
    flex-grow: 1;
  }
}

.project-list {
  flex-shrink: 0;
  padding: 8px 0;
  overflow: auto;
  width: 218px;
  /*FireFox*/
  scrollbar-width: none;
  /*IE10+*/
  -ms-overflow-style: -ms-autohiding-scrollbar;
  &::-webkit-scrollbar {
    /*Chrome, Safari, Edge*/
    display: none;
  }

  &.in-flow {
    position: relative;
  }
}

@media screen and (max-width: 600px) {
  .project-list {
    width: 125px;
  }
}
