.app {
  overflow: hidden;
  height: 100vh;

  background-color: #ebebeb;
}

.main-content {
  display: flex;
  height: calc(100% - 114px);

  margin-top: 114px;

  > div {
    flex-grow: 1;
  }
}

.project-list {
  padding: 8px 0;
  overflow: auto;
  width: 218px;

  &.in-flow {
    position: relative;
  }
}
